h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.book {
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
}
.book-cover {
  height: 300px;
  width: auto;
  max-width: 200px;
}

.book-details {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.book-details li {
  margin-bottom: 5px;
}

#addBookBtn {
  display: block;
  margin: 0 auto 10px auto;
}

.invalid-feedback {
  display: block;
}

.book .btn-danger {
  align-self: end;
  line-height: .5;
  padding: 8px;
  margin-bottom: 5px;
}

.read-status {
  cursor: pointer;
}